*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(139, 157, 238);
    --secondary-color: #e45d0f;
    --tertiary-color: #aaaaaa;
    --white-color: #ffffff;
    --correct-color: #8fc8e2;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.centered {
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}

.scores a,
.timer {
    font-size: 20px;
}

.scores a {
    color: var(--primary-color);
    cursor: pointer;
}

.scores a:hover {
    color: var(--secondary-color);
}

/*Start Quiz*/
.start-quiz {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    color: var(--correct-color);
    border-top: 1px solid;
    margin: 20px 0;
    font-style: italic;
    text-align: center;
}

.grid-button {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

button {
    font-family: sans-serif;
    border: none;
    width: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    color: var(--white-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--correct-color);
}

.hide {
    display: none;
}

button.correct {
    background-color: yellowgreen;
}

button.wrong {
    background-color: red;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid cadetblue;
    border-radius: 5px;
    box-sizing: border-box;
}

.highscore {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.name-div,
.score-div {
    flex: 1 35%;
    padding: 10px 0;
    border: 1px solid var(--correct-color);
}

@media screen and (max-width:575px) {
    .grid-button {
        grid-template-columns: repeat(1, auto);
        gap: 0;
        margin: 0;
    }
}
